.iconStoreDownload {
  width: 150px;
}

#mockupWebMobile {
  width: 100%;
}

.containerActionMenu {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 700;
  border-radius: 25px;
}

.containerActionMenu p {
  line-height: 1;
}

.containerActionMenu img {
  height: 15px;
  margin-right: 10px;
}

@media screen and (max-width: 1050px) {
  #mockupWebMobile {
    position: relative;
    bottom: 0px;
    width: 100%;
  }

  .iconStoreDownload {
    width: 30%;
  }
}

@media screen and (max-width: 414px) {
  .iconStoreDownload {
    width: 40%;
  }
}
