.iconStoreDownload {
  width: 150px;
}

#mockupWebMobile {
  position: absolute;
  bottom: -220px;
  right: 0;
  width: 90%;
  max-width: 400px;
  height: auto;
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 650px) {
  #mockupWebMobile {
    position: relative;
    bottom: 0px;
    width: 100%;
    margin-right: -80px;
    margin-left: -80px;
    margin-bottom: 30px;
  }

  .iconStoreDownload {
    width: 30%;
  }
}

@media screen and (max-width: 414px) {
}
