.iconStoreDownload {
  width: 130px;
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 650px) {
  .iconStoreDownload {
    width: 30%;
  }
}

@media screen and (max-width: 414px) {
  .iconStoreDownload {
    width: 40%;
  }
}
