@media screen and (max-width: 1050px) {
  #containerFooterActions {
    flex-direction: column;
    margin-bottom: 30px !important;
  }

  #containerSocialItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    margin-bottom: 50px;
  }

  #containerSocialItems > img {
    width: 50% !important;
    height: auto !important;
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 414px) {
}
