#main_menu {
  z-index: 5000;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  font-weight: 700;
  width: 100%;
  height: 70px;
  transition: 0.3s;
  background-color: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.content_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1250px;

  height: 100%;
  margin: 0 auto;
}

#logo {
  width: 200px;
  min-width: 100px;
  margin-right: 50px;
}

#main_menu ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}

#main_menu ul li {
  float: left;
  margin-right: 35px;
  cursor: pointer;
}

#main_menu ul li:hover p,
.selected_menu p {
  color: #ff916e;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  transition: 0.3s;
}

.containerActionMenu {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff916e;
  color: #fff;
  padding: 10px;
  font-weight: 700;
  border-radius: 100px;
}

.containerActionMenu p {
  line-height: 1;
}

.containerActionMenu img {
  height: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 650px) {
  #logo {
    margin-right: 0px;
  }
}

@media screen and (max-width: 414px) {
  .containerActionMenu {
    width: 125px;
  }
}
