/* Global CSS */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding-top: 65px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Text */

h1,
h2,
h3,
h4,
p,
input,
textarea,
select {
  font-family: "Work Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  transition: 0.3s;
}

h1 {
  font-family: "TitlingGothicFB Standard", sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
}

h3 {
  font-family: "TitlingGothicFB Standard", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}

P.drop-cap:first-letter {
  font-size: 84px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.015em;
  float: left;
  margin-right: 8px;
  line-height: 0.89286;
}

.small {
  font-size: 15px;
}

.italic_p {
  color: #898989;
  margin-bottom: 20px;
  font-weight: 400;
  font-style: italic;
}

.underlineBlue {
  border-bottom: 5px solid #0024bd;
}

.underlineOrange {
  border-bottom: 5px solid #ff916e;
}

.underlineWhite {
  border-bottom: 5px solid #fff;
}

input[type="text"],
input[type="email"],
textarea,
select {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: black;
  padding: 3%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  resize: none;
}

input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input[type="checkbox"] {
  margin-right: 20px;
}

input::placeholder {
  color: white;
}

select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* remove default arrow */
}

textarea {
  height: 150px;
}

.dual_input {
  width: 42%;
  margin-right: 3%;
}

.dual_input:nth-child(2n) {
  margin-right: 0%;
}

/* Gestion des boutons */
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 200;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff9271;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s;
}

button p {
  font-size: 15px;
  font-weight: 600;
  color: #ff9271;
}

.buttonArrow {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  transform: rotate(90deg);
}

.separator {
  height: 1px;
  width: "100%";
  background-color: #e1e5f1;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Structure */
.full_bloc {
  z-index: 0;
  width: 100%;
  transition: 2s;
  position: relative;
}

.halfBloc {
  width: 50%;
}

.alternateBloc {
  width: 40%;
  padding: 5%;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.containerRow,
.containerRowMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerCenter {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.containerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containerWrap {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
}

.itemWrap {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin: 2%;
  border-radius: 40px;
}

.containerOnlyMobile,
.containerOnlyMobileFlex {
  display: none;
}

.containerIllustration {
  position: relative;
  overflow: hidden;
}

.containerModal {
  z-index: 1500 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.containerItem {
  background-color: white;
  padding: 30px;
}

.imageFit {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerErrorMessage {
  z-index: 300;
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.containerErrorMessage p {
  color: "white";
}

.apexcharts-tooltip {
  font-size: 12px !important;
  font-family: "WorkSans Normal", sans-serif !important;
}

.react-multi-carousel-dot-list {
  position: relative !important;
  margin-top: 30px !important;
}

.react-multi-carousel-dot button {
  border: none !important;
  background: #e2e2e2 !important;
  width: 13px !important;
  height: 13px !important;
}

.react-multi-carousel-dot--active button {
  background: #0024d3 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0024d3 inset !important;
  -webkit-text-fill-color: white;
}

.iconDefault {
  width: 30px;
  height: 30px;
}

.shadowOrange {
  box-shadow: -1px -1px 32px -2px rgba(155, 38, 1, 0.54);
  -webkit-box-shadow: -1px -1px 32px -2px rgba(155, 38, 1, 0.54);
  -moz-box-shadow: -1px -1px 32px -2px rgba(155, 38, 1, 0.54);
}

.shadowLightBlue {
  box-shadow: 0px 14px 60px -1px rgba(56, 29, 219, 0.36);
  -webkit-box-shadow: 0px 14px 60px -1px rgba(56, 29, 219, 0.36);
  -moz-box-shadow: 0px 14px 60px -1px rgba(56, 29, 219, 0.36);
}

.shadowBlack {
  box-shadow: 1px 11px 44px -1px rgba(34, 34, 34, 0.1);
  -webkit-box-shadow: 1px 11px 44px -1px rgba(34, 34, 34, 0.1);
  -moz-box-shadow: 1px 11px 44px -1px rgba(34, 34, 34, 0.1);
}

/* Slick Carousel */
.slick-dots li button::before {
  color: white !important;
  margin-top: 15px !important;
  font-size: 12px !important;
}

.slick-list {
  overflow: visible !important;
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .small {
    font-size: 14px;
  }

  .container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 650px) {
  /* UI */

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 17px;
  }

  p {
    font-size: 15px;
  }

  .small {
    font-size: 14px;
  }

  button p {
    font-size: 18px;
  }

  .container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .containerRow {
    flex-direction: column;
  }

  .containerMobile {
    width: 85% !important;
    padding: 7.5%;
  }

  .halfBloc,
  .fullWidthMobile {
    width: 100%;
  }

  .containerOnlyMobile {
    display: block;
  }

  .containerOnlyMobileFlex {
    display: flex;
  }

  .containerMobileHidden {
    display: none;
  }

  .reverseMobile {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 414px) {
  /* UI */

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }

  .small {
    font-size: 14px;
  }

  button p {
    font-size: 15px;
  }

  .small {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  /* UI */

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .small {
    font-size: 12px;
  }

  button p {
    font-size: 13px;
  }
}
