#containerHero {
  position: relative;
}

#heroWoman {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
}

#playButton {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

#circleYellow {
  max-width: 550px;
  max-height: 550px;
  min-height: 400px;
  min-width: 400px;
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  background-color: rgb(230, 255, 2);
}

#containerDashboard {
  position: relative;
  justify-content: flex-end;
}

.containerSectionFeatures {
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

#imageMockupDashboard {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 400px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  #heroWoman {
    right: -200px;
  }
}

@media screen and (max-width: 650px) {
  #heroWoman {
    right: 0;
  }

  #heroWoman > img {
    position: absolute;
    right: 0px;
    top: 50px;
    width: 200px;
  }

  #videoHero {
    top: initial;
    height: 350px;
    right: -150px;
  }

  #containerDashboard {
    flex-direction: column;
    justify-content: flex-start;
  }

  #containerDashboard > img {
    width: 100%;
    height: auto;
  }

  #backgroundLightGrey {
    background-color: #e0e5f2;
  }
}

@media screen and (max-width: 400px) {
  #videoHero {
    top: initial;
    height: 350px;
  }
}

@media screen and (max-width: 350px) {
  #videoHero {
    height: 300px;
    right: -170px;
  }
}
