.titleFAQ:hover,
.currentTitleFAQ {
  color: #ff9271;
  text-decoration: underline;
}

#buttonSubscribe {
  background-color: #0023d2;
  width: 60%;
  align-self: center;
  border-radius: 50px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 650px) {
  #buttonSubscribe {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
}
