#imageApproach {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 650px) {
  #containerTeam {
    flex-direction: column;
  }

  #containerTeam > div:not(:last-child) {
    margin-bottom: 30px;
  }

  #containerApproach {
    height: 850px;
  }

  #imageApproach {
    position: absolute;
    left: 0px;
    right: 0px;
    top: initial;
    bottom: 0px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 414px) {
}
