@media screen and (max-width: 1300px) {
  #containerIntro > img {
    top: 30% !important;
    height: 40% !important;
  }
}

@media screen and (max-width: 650px) {
  #containerIntro {
    padding-bottom: 250px;
  }

  #containerIntro > img {
    top: initial !important;
    bottom: 50px;
    height: 30% !important;
  }
}

@media screen and (max-width: 414px) {
}
